:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --box-background: #f9f9f9;
  --box-border: #e0e0e0;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  --card-background: #f8f9fa;
  --input-background: #ffffff;
  --input-border: #ced4da;
  --button-background: #007bff;
  --button-text: #ffffff;
}

/* Change this */
html[data-theme="dark"] {
  --background-color: #1e1e1e;
  --text-color: #f4f4f4;
  --primary-color: #0d6efd;
  --primary-hover-color: #0b5ed7;
  --box-background: #2d2d2d;
  --box-border: #444444;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  --card-background: #1e1e1e;
  --input-background: #a59595;
  --input-border: #444444;
  --button-background: #0d6efd;
  --button-text: #ffffff;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

#theme-toggle {
  position: fixed;
  top: 70px;
  right: 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#theme-toggle:hover {
  background-color: var(--primary-hover-color);
  transform: translateY(-2px);
}

.user-input-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generate-btn {
  width: 40%;
  margin: 0 auto;
}

.flashcards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.flashcards-container img{
  height: 300px;
  width: 300px;
}

.flashcard {
  background-color: var(--card-background);
  border: 1px solid var(--box-border);
  border-radius: 8px;
  padding: 5px;
  width: 370px;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease-in-out, background-color 0.3s, color 0.3s;
}

.flashcard:hover {
  transform: scale(1.05);
}

.template-selector {
  margin-top: 20px;
}

.animate__animated {
  animation-duration: 1s;
}
